streamlit
httpx
nest-asyncio
elevenlabs
google-genai
python-pptx
youtube-transcript-api
numpy
soundfile
kokoro-tts
docling[pdf,pptx]
pandas
streamlit-searchbox
fuzzywuzzy
python-Levenshtein
torch
diffusers
transformers
accelerate